## AEMET-ko datuen historiala¶

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
from ipywidgets import interactive, HBox, VBox, TwoByTwoLayout
%matplotlib inline

In [2]:
##Autocompletaion
%config Completer.use_jedi = False
import pandas as pd
import glob
import os
# %matplotlib notebook

#Grafikak hobetu ikusteko
from jupyterthemes import jtplot
jtplot.style()

In [3]:
#plt.rcParams.get('figure.figsize') 
plt.rcParams['figure.figsize'] = (9.6,8.4)

### 1) Datual lortu

In [4]:
f_csv='./Denak_batera.csv'

if os.path.exists(f_csv):
    df_all = pd.read_csv(f_csv, sep='\t')
else:
    print("Fitxeroa ez dago")

In [5]:
df_all.shape

(30533, 9)

In [6]:
df_all.head()

   Eguna  Hilab  Urtea     Tokia  Tmax  Tmin  Tmean  Vmax  Euria
0     21      9   2019  Donostia  28.7  23.4   26.1  33.0    0.0
1     21      9   2019     Bilbo  28.0  19.4   23.7  25.0    0.0
2     21      9   2019   Gasteiz  24.9  14.9   19.9  26.0    0.0
3     21      9   2019     Iruña  27.8  16.5   22.1  38.0    1.6
4     21      9   2019      Reus  26.9  18.3   22.6  23.0    6.3

### 2) Kalkulatu euria

In [7]:
#Dataframe berri bat euri-egunekin bakarrik (>1 litro)
euridunak= df_all[df_all['Euria'] > 1]

#Taldeak egin: Tokia eta urteko
euria_urteko=euridunak.sort_values(['Tokia','Urtea'],ascending=True).groupby(['Tokia','Urtea'], sort = False).sum()['Euria']

#Euri-egunak zenbatu toki eta urteko bakoitzerko
#Zutabe guztietan kalkulatzen du, baina nik behin behar det. Fetxa zutabera-ko datua gordeko dut, behin bakarrik edukitzeko
euri_egunak=euridunak.sort_values(['Tokia','Urtea'],ascending=True).groupby(['Tokia','Urtea']).agg(np.size)['Eguna']

# EURI GRAFIKAK
Grafika 1: Urte bakoitzeko euri kopurua. Tokia aukeratu daiteke
<br>
Grafika 2: Urte bakoitzeko euri egunak. Tokia aukeratu daiteke
<br>
Grafika 3: Hilabete bakoitzeko euri kopurua. Tokia eta urtea aukeratu daitezke
<br>
Grafika 4: Hilabete bakoitzeko euri-egunak. Tokia eta urtea aukeratu daitezke
<br>
Grafika 5: Toki baterako, urte desberdineko hilabeteak konparatu

### Grafika 1: Urte bakoitzeko euri kopurua. Tokia aukeratu daiteke

In [8]:
ch1_don=widgets.Checkbox(value=True, description="Donostia")
ch1_bil=widgets.Checkbox(value=False, description="Bilbo")
ch1_gas=widgets.Checkbox(value=False, description="Gasteiz")
ch1_iru=widgets.Checkbox(value=False, description="Iruña")
ch1_afj=widgets.Checkbox(value=False, description="Alforja (AE)")
ch1_reu=widgets.Checkbox(value=False, description="Reus")
ch1_tgn=widgets.Checkbox(value=False, description="Tarragona")
ch1_vig=widgets.Checkbox(value=False, description="Vigo")
ch1_vlp=widgets.Checkbox(value=False, description="Vilaplana")
ch1_mus=widgets.Checkbox(value=False, description="Mussara")
ch1_alf=widgets.Checkbox(value=False, description="Alforja (MP)")
ch1_ale=widgets.Checkbox(value=False, description="L'Aleixar")
ch1_alb=widgets.Checkbox(value=False, description="L'Albiol")

box11 = VBox([ch1_don,ch1_bil,ch1_gas])
box12 = VBox([ch1_iru,ch1_afj,ch1_reu])
box13 = VBox([ch1_tgn,ch1_vig,ch1_vlp])
box14 = VBox([ch1_alf,ch1_mus,ch1_ale,ch1_alb])

In [9]:
def plot_gr1(ch_don,ch_bil,ch_gas,ch_iru,ch_afj,ch_reu,ch_tgn,ch_vig,ch_vlp,ch_mus,ch_alf,ch_ale,ch_alb):#Aurrena, toki baten euridun egunak gorde DF berri batean
    plt.clf()
    plt.cla()
    plt.close()
    df_gr1=pd.DataFrame()
#Hurcrengoak bi kondizio ditu, eta aurkitu nuen Numpy-k hobeto egiten duela:
#https://towardsdatascience.com/fix-valueerror-truth-value-of-a-series-is-ambiguous-pandas-a683f0fd1b2f
    if (ch_don):
        df_don = euridunak[euridunak['Tokia'] == 'Donostia']
    else:
        df_don = pd.DataFrame()
        
    if (ch_bil):
        df_bil = euridunak[euridunak['Tokia'] == 'Bilbo']
    else:
        df_bil = pd.DataFrame()
    
    if (ch_gas):
        df_gas = euridunak[euridunak['Tokia'] == 'Gasteiz']
    else:
        df_gas = pd.DataFrame()
    
    if (ch_iru):
        df_iru = euridunak[euridunak['Tokia'] == 'Iruña']
    else:
        df_iru = pd.DataFrame()
        
    if (ch_afj):
        df_afj = euridunak[euridunak['Tokia'] == 'Alforja (AEMET)']
    else:
        df_afj = pd.DataFrame()
    
    if (ch_reu):
        df_reu = euridunak[euridunak['Tokia'] == 'Reus']
    else:
        df_reu = pd.DataFrame()
    
    if (ch_tgn):
        df_tgn = euridunak[euridunak['Tokia'] == 'Tarragona']
    else:
        df_tgn = pd.DataFrame()
    
    if (ch_vig):
        df_vig = euridunak[euridunak['Tokia'] == 'Vigo']
    else:
        df_vig = pd.DataFrame()
        
    if (ch_vlp):
        df_vlp = euridunak[euridunak['Tokia'] == 'vilaplana']
    else:
        df_vlp = pd.DataFrame()
        
    if (ch_alf):
        df_alf = euridunak[euridunak['Tokia'] == 'alforja (MeteoPr)']
    else:
        df_alf = pd.DataFrame()
        
    if (ch_mus):
        df_mus = euridunak[euridunak['Tokia'] == 'la-mussara']
    else:
        df_mus = pd.DataFrame()
        
    if (ch_ale):
        df_ale = euridunak[euridunak['Tokia'] == 'laleixar']
    else:
        df_ale = pd.DataFrame()
        
    if (ch_alb):
        df_alb = euridunak[euridunak['Tokia'] == 'lalbiol']
    else:
        df_alb = pd.DataFrame()
        
    df_gr1 = pd.concat([df_don, df_bil,df_gas,df_iru,df_afj,df_reu,df_tgn,df_vig,df_vlp,df_alf,df_mus,df_ale,df_alb], ignore_index=True, axis=0)
    
    #Orain, Hilabete eta urteka taldekatu
    datuak_gr1=df_gr1.sort_values(['Urtea','Tokia'],ascending=True).groupby(['Urtea','Tokia'], sort = False).sum()['Euria'] 

    datuak_gr1.unstack().plot(kind='bar')

    plt.xticks(rotation=45)
    #plt.yticks(color='red')
    plt.ylabel('Euria (l)',fontsize='20')
    plt.title('Euria (l)',fontsize='14')

    return plt.show()

In [10]:

ui1 = widgets.HBox([box11,box12,box13,box14])

out1 = widgets.interactive_output(plot_gr1, {'ch_don':ch1_don,'ch_bil': ch1_bil, 'ch_gas': ch1_gas,'ch_iru': ch1_iru,'ch_afj': ch1_afj, 'ch_reu': ch1_reu,'ch_tgn': ch1_tgn,'ch_vig': ch1_vig, 'ch_vlp': ch1_vlp,'ch_alf': ch1_alf,'ch_mus': ch1_mus, 'ch_alb': ch1_alb,'ch_ale': ch1_ale}) #kkk

display(ui1, out1)

HBox(children=(VBox(children=(Checkbox(value=True, description='Donostia'), Checkbox(value=False, description=…

Output()

### Grafika 2: Urte bakoitzeko euri egunak. Tokia aukeratu daiteke

In [11]:
ch2_don=widgets.Checkbox(value=True, description="Donostia")
ch2_bil=widgets.Checkbox(value=False, description="Bilbo")
ch2_gas=widgets.Checkbox(value=False, description="Gasteiz")
ch2_iru=widgets.Checkbox(value=False, description="Iruña")
ch2_afj=widgets.Checkbox(value=False, description="Alforja (AEMET)")
ch2_reu=widgets.Checkbox(value=False, description="Reus")
ch2_tgn=widgets.Checkbox(value=False, description="Tarragona")
ch2_vig=widgets.Checkbox(value=False, description="Vigo")
ch2_vlp=widgets.Checkbox(value=False, description="Vilaplana")
ch2_mus=widgets.Checkbox(value=False, description="Mussara")
ch2_alf=widgets.Checkbox(value=False, description="Alforja (MeteoPr)")
ch2_ale=widgets.Checkbox(value=False, description="L'Aleixar")
ch2_alb=widgets.Checkbox(value=False, description="L'Albiol")

box21 = VBox([ch2_don,ch2_bil,ch2_gas])
box22 = VBox([ch2_iru,ch2_afj,ch2_reu])
box23 = VBox([ch2_tgn,ch2_alf,ch2_ale])
box24 = VBox([ch2_vlp,ch2_mus,ch2_alb,ch2_vig])

In [12]:
def plot_gr2(ch_don,ch_bil,ch_gas,ch_iru,ch_afj,ch_reu,ch_tgn,ch_vig,ch_vlp,ch_mus,ch_alf,ch_ale,ch_alb):#Aurre
    plt.cla()
    plt.close()
    df_gr2=pd.DataFrame()
#Hurcrengoak bi kondizio ditu, eta aurkitu nuen Numpy-k hobeto egiten duela:
#https://towardsdatascience.com/fix-valueerror-truth-value-of-a-series-is-ambiguous-pandas-a683f0fd1b2f
    if (ch_don):
        df_don = euridunak[euridunak['Tokia'] == 'Donostia']
    else:
        df_don = pd.DataFrame()
        
    if (ch_bil):
        df_bil = euridunak[euridunak['Tokia'] == 'Bilbo']
    else:
        df_bil = pd.DataFrame()
    
    if (ch_gas):
        df_gas = euridunak[euridunak['Tokia'] == 'Gasteiz']
    else:
        df_gas = pd.DataFrame()
    
    if (ch_iru):
        df_iru = euridunak[euridunak['Tokia'] == 'Iruña']
    else:
        df_iru = pd.DataFrame()
    
    if (ch_afj):
        df_afj = euridunak[euridunak['Tokia'] == 'Alforja']
    else:
        df_afj = pd.DataFrame()
    
    if (ch_reu):
        df_reu = euridunak[euridunak['Tokia'] == 'Reus']
    else:
        df_reu = pd.DataFrame()
    
    if (ch_tgn):
        df_tgn = euridunak[euridunak['Tokia'] == 'Tarragona']
    else:
        df_tgn = pd.DataFrame()
    
    if (ch_vig):
        df_vig = euridunak[euridunak['Tokia'] == 'Vigo']
    else:
        df_vig = pd.DataFrame()
    
    if (ch_vlp):
        df_vlp = euridunak[euridunak['Tokia'] == 'vilaplana']
    else:
        df_vlp = pd.DataFrame()
        
    if (ch_alf):
        df_alf = euridunak[euridunak['Tokia'] == 'alforja']
    else:
        df_alf = pd.DataFrame()
        
    if (ch_mus):
        df_mus = euridunak[euridunak['Tokia'] == 'la-mussara']
    else:
        df_mus = pd.DataFrame()
        
    if (ch_ale):
        df_ale = euridunak[euridunak['Tokia'] == 'laleixar']
    else:
        df_ale = pd.DataFrame()
        
    if (ch_alb):
        df_alb = euridunak[euridunak['Tokia'] == 'lalbiol']
    else:
        df_alb = pd.DataFrame()
        
    df_gr2 = pd.concat([df_don, df_bil,df_gas,df_iru,df_afj,df_reu,df_tgn,df_vig,df_vlp,df_alf,df_mus,df_ale,df_alb], ignore_index=True, axis=0)

#Orain, Hilabete eta urteka taldekatu
    datuak_gr2=df_gr2.sort_values(['Urtea','Tokia'],ascending=True).groupby(['Urtea','Tokia'], sort = False).agg(np.size)['Eguna']
    
    datuak_gr2.unstack().plot(kind='bar')

    plt.xticks(rotation=45)
    #plt.yticks(color='red')
    plt.ylabel('Euri-egunak',fontsize='20')
    plt.title('Euri-egunak',fontsize='14')
    plt.rcParams['figure.figsize'] = (12.8,11.2)

    return plt.show()

In [13]:

ui2 = widgets.HBox([box21,box22,box23,box24])

out2 = widgets.interactive_output(plot_gr2, {'ch_don':ch2_don,'ch_bil': ch2_bil, 'ch_gas': ch2_gas,'ch_iru': ch2_iru,'ch_afj': ch2_afj, 'ch_reu': ch2_reu,'ch_tgn': ch2_tgn,'ch_vig': ch2_vig, 'ch_vlp': ch2_vlp,'ch_alf': ch2_alf,'ch_mus': ch2_mus, 'ch_alb': ch2_alb,'ch_ale': ch2_ale}) #kkk

display(ui2, out2)

HBox(children=(VBox(children=(Checkbox(value=True, description='Donostia'), Checkbox(value=False, description=…

Output()

### Grafika 3: Hilabete bakoitzeko euri kopurua. Tokia eta urtea aukeratu daitezke

In [14]:
ch3_don=widgets.Checkbox(value=True, description="Donostia")
ch3_bil=widgets.Checkbox(value=False, description="Bilbo")
ch3_gas=widgets.Checkbox(value=False, description="Gasteiz")
ch3_iru=widgets.Checkbox(value=False, description="Iruña")
ch3_afj=widgets.Checkbox(value=False, description="Alforja (AEMETE)")
ch3_reu=widgets.Checkbox(value=False, description="Reus")
ch3_tgn=widgets.Checkbox(value=False, description="Tarragona")
ch3_vig=widgets.Checkbox(value=False, description="Vigo")
ch3_vlp=widgets.Checkbox(value=False, description="Vilaplana")
ch3_mus=widgets.Checkbox(value=False, description="Mussara")
ch3_alf=widgets.Checkbox(value=False, description="Alforja (MeteoPr)")
ch3_ale=widgets.Checkbox(value=False, description="L'Aleixar")
ch3_alb=widgets.Checkbox(value=False, description="L'Albiol")

box31 = VBox([ch3_don,ch3_bil,ch3_gas])
box32 = VBox([ch3_iru,ch3_afj,ch3_reu])
box33 = VBox([ch3_tgn,ch3_vig,ch3_vlp])
box34 = VBox([ch3_alf,ch3_mus,ch3_ale,ch3_alb])

drop3_urtea = widgets.Dropdown(
    options=['2022','2021','2020','2019','2018','2017','2016','2015','2014'],
    value='2021',
    description='Urtea:',
    disabled=False,
)

In [15]:
def plot_gr3(ch_don,ch_bil,ch_gas,ch_iru,ch_afj,ch_reu,ch_tgn,ch_vig,ch_vlp,ch_mus,ch_alf,ch_ale,ch_alb,urtea):#Aurre
    plt.clf()
    plt.cla()
    plt.close()
    df_gr3=pd.DataFrame()
#Hurcrengoak bi kondizio ditu, eta aurkitu nuen Numpy-k hobeto egiten duela:
#https://towardsdatascience.com/fix-valueerror-truth-value-of-a-series-is-ambiguous-pandas-a683f0fd1b2f
    if (ch_don):
        df_don = euridunak[euridunak['Tokia'] == 'Donostia']
    else:
        df_don = pd.DataFrame()
        
    if (ch_bil):
        df_bil = euridunak[uridunak['Tokia'] == 'Bilbo']
    else:
        df_bil = pd.DataFrame()
    
    if (ch_gas):
        df_gas = euridunak[euridunak['Tokia'] == 'Gasteiz']
    else:
        df_gas = pd.DataFrame()
    
    if (ch_iru):
        df_iru = euridunak[euridunak['Tokia'] == 'Iruña']
    else:
        df_iru = pd.DataFrame()
    
    if (ch_afj):
        df_afj = euridunak[euridunak['Tokia'] == 'Alforja']
    else:
        df_afj = pd.DataFrame()
    
    if (ch_reu):
        df_reu = euridunak[euridunak['Tokia'] == 'Reus']
    else:
        df_reu = pd.DataFrame()
    
    if (ch_tgn):
        df_tgn = euridunak[euridunak['Tokia'] == 'Tarragona']
    else:
        df_tgn = pd.DataFrame()
    
    if (ch_vig):
        df_vig = euridunak[euridunak['Tokia'] == 'Vigo']
    else:
        df_vig = pd.DataFrame()
    
    if (ch_vlp):
        df_vlp = euridunak[euridunak['Tokia'] == 'vilaplana']
    else:
        df_vlp = pd.DataFrame()
        
    if (ch_alf):
        df_alf = euridunak[euridunak['Tokia'] == 'alforja']
    else:
        df_alf = pd.DataFrame()
        
    if (ch_mus):
        df_mus = euridunak[euridunak['Tokia'] == 'la-mussara']
    else:
        df_mus = pd.DataFrame()
        
    if (ch_ale):
        df_ale = euridunak[euridunak['Tokia'] == 'laleixar']
    else:
        df_ale = pd.DataFrame()
        
    if (ch_alb):
        df_alb = euridunak[euridunak['Tokia'] == 'lalbiol']
    else:
        df_alb = pd.DataFrame()
        
    df_gr3 = pd.concat([df_don, df_bil,df_gas,df_iru,df_afj,df_reu,df_tgn,df_vig,df_vlp,df_alf,df_mus,df_ale,df_alb], ignore_index=True, axis=0)

#Orain, Hilabete eta urteka taldekatu
    datuak_gr3=df_gr3[df_gr3['Urtea'] == int(urtea)].sort_values(['Hilab','Tokia'],ascending=True).groupby(['Hilab','Tokia'], sort = False).sum()['Euria'] 

    datuak_gr3.unstack().plot(kind='bar')

    plt.xticks(rotation=45)
    #plt.yticks(color='red')
    plt.ylabel('Euria (l)',fontsize='20')
    plt.title('Euria '+'('+urtea+')',fontsize='14')

    return plt.show()

In [16]:

ui3 = widgets.HBox([box31,box32,box33,box34,drop3_urtea])

out3 = widgets.interactive_output(plot_gr3, {'ch_don':ch3_don,'ch_bil': ch3_bil, 'ch_gas': ch3_gas,'ch_iru': ch3_iru,'ch_afj': ch3_afj, 'ch_reu': ch3_reu,'ch_tgn': ch3_tgn,'ch_vig': ch3_vig, 'ch_vlp': ch3_vlp,'ch_alf': ch3_alf,'ch_mus': ch3_mus, 'ch_alb': ch3_alb,'ch_ale': ch3_ale, 'urtea': drop3_urtea}) #kkk

display(ui3, out3)

HBox(children=(VBox(children=(Checkbox(value=True, description='Donostia'), Checkbox(value=False, description=…

Output()

### Grafika 5: Toki baterako, urte desberdineko hilabeteak konparatu

In [24]:
drop5_tokia = widgets.Dropdown(
    options=['Donostia','Bilbo','Gasteiz','Iruña','Alforja','Reus','Tarragona','Vigo','vilaplana','alforja','la-mussara','laleixar','lalbiol'],###,
    value='Donostia',
    description='Non:',
    disabled=False,
)

ch5_22=widgets.Checkbox(value=True, description="2022")
ch5_21=widgets.Checkbox(value=True, description="2021")
ch5_20=widgets.Checkbox(value=False, description="2020")
ch5_19=widgets.Checkbox(value=False, description="2019")
ch5_18=widgets.Checkbox(value=False, description="2018")
ch5_17=widgets.Checkbox(value=False, description="2017")
ch5_16=widgets.Checkbox(value=False, description="2016")
ch5_15=widgets.Checkbox(value=False, description="2015")
ch5_14=widgets.Checkbox(value=False, description="2014")
ch5_13=widgets.Checkbox(value=False, description="2013")

box51 = VBox([ch5_22,ch5_21,drop5_tokia])
box52 = VBox([ch5_20,ch5_19])
box53 = VBox([ch5_18,ch5_17])
box54 = VBox([ch5_16,ch5_15])
box55 = VBox([ch5_14,ch5_13])

In [26]:
def plot_gr5(ch_22,ch_21,ch_20,ch_19,ch_18,ch_17,ch_16,ch_15,ch_14,ch_13,tokia):#Aurrena, toki baten euridun egunak gorde DF berri batean
    plt.clf()
    plt.cla()
    plt.close()
    
    df_gr5=pd.DataFrame()
#Hurcrengoak bi kondizio ditu, eta aurkitu nuen Numpy-k hobeto egiten duela:
#https://towardsdatascience.com/fix-valueerror-truth-value-of-a-series-is-ambiguous-pandas-a683f0fd1b2f
    if (ch_22):
        df_22 = euridunak[np.logical_and(euridunak['Urtea'] == 2022, euridunak['Tokia'] == tokia)]
    else:
        df_22 = pd.DataFrame()
    
    if (ch_21):
        df_21 = euridunak[np.logical_and(euridunak['Urtea'] == 2021, euridunak['Tokia'] == tokia)]
    else:
        df_21 = pd.DataFrame()
    
    if (ch_20):
        df_20 = euridunak[np.logical_and(euridunak['Urtea'] == 2020, euridunak['Tokia'] == tokia)]
    else:
        df_20 = pd.DataFrame()
        
    if (ch_19):
        df_19 = euridunak[np.logical_and(euridunak['Urtea'] == 2019, euridunak['Tokia'] == tokia)]
    else:
        df_19 = pd.DataFrame()
        
    if (ch_18):
        df_18 = euridunak[np.logical_and(euridunak['Urtea'] == 2018, euridunak['Tokia'] == tokia)]
    else:
        df_18 = pd.DataFrame()
        
    if (ch_17):
        df_17 = euridunak[np.logical_and(euridunak['Urtea'] == 2017, euridunak['Tokia'] == tokia)]
    else:
        df_17 = pd.DataFrame()
        
    if (ch_16):
        df_16 = euridunak[np.logical_and(euridunak['Urtea'] == 2016, euridunak['Tokia'] == tokia)]
    else:
        df_16 = pd.DataFrame()
        
    if (ch_15):
        df_15 = euridunak[np.logical_and(euridunak['Urtea'] == 2015, euridunak['Tokia'] == tokia)]
    else:
        df_15 = pd.DataFrame()
        
    if (ch_14):
        df_14 = euridunak[np.logical_and(euridunak['Urtea'] == 2014, euridunak['Tokia'] == tokia)]
    else:
        df_14 = pd.DataFrame()
        
    if (ch_13):
        df_13 = euridunak[np.logical_and(euridunak['Urtea'] == 2013, euridunak['Tokia'] == tokia)]
    else:
        df_13 = pd.DataFrame()
    
    df_gr5 = pd.concat([df_22,df_21,df_20,df_19,df_18,df_17,df_16,df_15,df_14,df_13], ignore_index=True, axis=0)
#euridunak[(euridunak['España'] == 'Alforja' or euridunak['España'] == 'Vigo') ]


#Orain, Hilabete eta urteka taldekatu
    datuak_gr5=df_gr5.sort_values(['Hilab','Urtea'],ascending=True).groupby(['Hilab','Urtea'], sort = False).sum()['Euria'] 

    datuak_gr5.unstack().plot(kind='bar')
    
    #plt.figure(num='Grafika 5');

    plt.xticks(rotation=45)
    #plt.yticks(color='red')
    plt.ylabel('Euria (l)',fontsize='20')
    plt.title('Euria '+'('+tokia+')',fontsize='14')
    plt.rcParams['figure.figsize'] = (12.8,11.2)

    return plt.show()

In [25]:

ui5 = widgets.HBox([box51,box52,box53,box54,box55])

out5 = widgets.interactive_output(plot_gr5, {'ch_22':ch5_22,'ch_21':ch5_21,'ch_20':ch5_20,'ch_19':ch5_19,'ch_18':ch5_18,'ch_17':ch5_17,'ch_16':ch5_16,'ch_15':ch5_15,'ch_14':ch5_14,'ch_13':ch5_13, 'tokia': drop5_tokia}) #kkk

display(ui5, out5)

HBox(children=(VBox(children=(Checkbox(value=True, description='2022'), Checkbox(value=True, description='2021…

Output()

### Grafika 6: Haize-egunak urteko
Momentuz ez du ondo funtzionatzen. Eremuarekin aukeratu eremuan ez badago hazi egunik
(daturik ez badago), errorea ematen du. Ez det konpondu

In [27]:
ch6_don=widgets.Checkbox(value=True, description="Donostia")
ch6_bil=widgets.Checkbox(value=False, description="Bilbo")
ch6_gas=widgets.Checkbox(value=False, description="Gasteiz")
ch6_iru=widgets.Checkbox(value=False, description="Iruña")
ch6_afj=widgets.Checkbox(value=False, description="Alforja (AE)")
ch6_reu=widgets.Checkbox(value=False, description="Reus")
ch6_tgn=widgets.Checkbox(value=False, description="Tarragona")
ch6_vig=widgets.Checkbox(value=False, description="Vigo")
ch6_vlp=widgets.Checkbox(value=False, description="Vilaplana")
ch6_mus=widgets.Checkbox(value=False, description="Mussara")
ch6_alf=widgets.Checkbox(value=False, description="Alforja (MP)")
ch6_ale=widgets.Checkbox(value=False, description="L'Aleixar")
ch6_alb=widgets.Checkbox(value=False, description="L'Albiol")

eremu=widgets.IntRangeSlider(
    value=[50, 200],
    min=0,
    max=200,
    step=10,
    description='Haizea:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d',
)

box61 = HBox([ch6_don,ch6_bil,ch6_gas,ch6_iru,ch6_reu])
box62 = HBox([ch6_vlp,ch6_mus,ch6_afj,ch6_ale,ch6_alb])
box63 = HBox([ch6_tgn,ch6_vig,ch6_alf])

In [28]:
def plot_gr6(ch_don,ch_bil,ch_gas,ch_iru,ch_afj,ch_reu,ch_tgn,ch_vig,ch_vlp,ch_mus,ch_alf,ch_ale,ch_alb,eremu):#Aurrena, toki baten euridun egunak gorde DF berri batean
    plt.clf()
    plt.cla()
    plt.close()
    df_gr6=pd.DataFrame()
#Hurcrengoak bi kondizio ditu, eta aurkitu nuen Numpy-k hobeto egiten duela:
#https://towardsdatascience.com/fix-valueerror-truth-value-of-a-series-is-ambiguous-pandas-a683f0fd1b2f
    if (ch_don):
        df_don = df_all[df_all['Tokia'] == 'Donostia']
    else:
        df_don = pd.DataFrame()
        
    if (ch_bil):
        df_bil = df_all[df_all['Tokia'] == 'Bilbo']
    else:
        df_bil = pd.DataFrame()
    
    if (ch_gas):
        df_gas = df_all[df_all['Tokia'] == 'Gasteiz']
    else:
        df_gas = pd.DataFrame()
    
    if (ch_iru):
        df_iru = df_all[df_all['Tokia'] == 'Iruña']
    else:
        df_iru = pd.DataFrame()
        
    if (ch_afj):
        df_afj = df_all[df_all['Tokia'] == 'Alforja']
    else:
        df_afj = pd.DataFrame()
    
    if (ch_reu):
        df_reu = df_all[df_all['Tokia'] == 'Reus']
    else:
        df_reu = pd.DataFrame()
    
    if (ch_tgn):
        df_tgn = df_all[df_all['Tokia'] == 'Tarragona']
    else:
        df_tgn = pd.DataFrame()
    
    if (ch_vig):
        df_vig = df_all[df_all['Tokia'] == 'Vigo']
    else:
        df_vig = pd.DataFrame()
        
    if (ch_vlp):
        df_vlp = df_all[df_all['Tokia'] == 'vilaplana']
    else:
        df_vlp = pd.DataFrame()
        
    if (ch_alf):
        df_alf = df_all[df_all['Tokia'] == 'alforja']
    else:
        df_alf = pd.DataFrame()
        
    if (ch_mus):
        df_mus = df_all[df_all['Tokia'] == 'la-mussara']
    else:
        df_mus = pd.DataFrame()
        
    if (ch_ale):
        df_ale = df_all[df_all['Tokia'] == 'laleixar']
    else:
        df_ale = pd.DataFrame()
        
    if (ch_alb):
        df_alb = df_all[df_all['Tokia'] == 'lalbiol']
    else:
        df_alb = pd.DataFrame()
        
    df_gr6 = pd.concat([df_don, df_bil,df_gas,df_iru,df_afj,df_reu,df_tgn,df_vig,df_vlp,df_alf,df_mus,df_ale,df_alb], ignore_index=True, axis=0)
    
    #Orain, abiadura eremukoak filtratu
    haizedunak = df_gr6[np.logical_and(df_gr6['Vmax'] > eremu[0] , df_gr6['Vmax'] < eremu[1])]
    
    #Eremuraren arabera, haizedunak ez du daturik, eta errorea ematen du. Konpontzeko:
    
    if (haizedunak.empty):
        datuak_gr6 = pd.DataFrame(0, index=range(2), columns=range(6))   
    else:
    #Orain, Hilabete eta urteka taldekatu
        datuak_gr6=haizedunak.sort_values(['Urtea','Tokia'],ascending=True).groupby(['Urtea','Tokia'], sort = False).agg(np.size)['Eguna'] 

    datuak_gr6.unstack().plot(kind='bar')

    plt.xticks(rotation=45)
    #plt.yticks(color='red')
    plt.ylabel('Haize-egunak',fontsize='20')
    plt.title('Haize-egunak',fontsize='14')
    
    if (haizedunak.empty):
        plt.text(3, 5, 'Ez dago daturik')

    return plt.show(),plt.close()

In [29]:
ui6 = widgets.VBox([box61,box62,box63,eremu])

#out6 = widgets.interactive_output(def_sei, {'eremu':eremu})
out6 = widgets.interactive_output(plot_gr6, {'ch_don':ch6_don,'ch_bil': ch6_bil, 'ch_gas': ch6_gas,'ch_iru': ch6_iru,'ch_afj': ch6_afj, 'ch_reu': ch6_reu,'ch_tgn': ch6_tgn,'ch_vig': ch6_vig, 'ch_vlp': ch6_vlp,'ch_alf': ch6_alf,'ch_mus': ch6_mus, 'ch_alb': ch6_alb,'ch_ale': ch6_ale,'eremu': eremu}) #kkk

display(ui6, out6)

VBox(children=(HBox(children=(Checkbox(value=True, description='Donostia'), Checkbox(value=False, description=…

Output()

### Taulak

In [20]:
tmax_all = df_all.sort_values(by='Tmax',ascending=False)
tmax_all.reset_index(inplace = True)

In [21]:
tabl1_zer=widgets.Dropdown(
    options=['Tmax', 'Tmin','Euria', 'Vmax'],
    value='Tmax',
    description='Zer:',
    disabled=False,
)

tabl1_non=widgets.Dropdown(
    options=['Guztiak','Donostia', 'Bilbo', 'Gasteiz','Iruña','Alforja','Reus','Tarragona','Vigo','vilaplana','la-mussara','alforja','laleixar','lalbiol'],###],
    value='Guztiak',
    description='Non:',
    disabled=False,
)

tabl1_zenb=widgets.Dropdown(
    options=[5,10,20,50],
    value=10,
    description='Zenbat:',
    disabled=False,
)

In [22]:
def tabl_1(zer,non,zenbat):
    #Balio guztiekin kalkulatu
    data_all = df_all.sort_values(by=zer,ascending=False)
    data_all.reset_index(inplace = True)
    #Orain, filtratu toki konkretu baterako
    if (non=='Guztiak'):        
        if (zer=='Tmin'):
            data_non=data_all.sort_values(by=zer,ascending=True)
        else:
            data_non=data_all.sort_values(by=zer,ascending=False)
    else: #Ez guztiak, hau da, toki konkretu bat
        if (zer=='Tmin'):
            data_non=data_all.loc[data_all['Tokia'] == non].sort_values(by=zer,ascending=True)
        else:
            data_non=data_all.loc[data_all['Tokia'] == non].sort_values(by=zer,ascending=False)
    data_non.reset_index(inplace = True)
    return data_non[['Tokia','Eguna','Hilab','Urtea',zer]][:zenbat]

In [23]:
widgets.interact(tabl_1,zer=tabl1_zer,non=tabl1_non,zenbat=tabl1_zenb)

interactive(children=(Dropdown(description='Zer:', options=('Tmax', 'Tmin', 'Euria', 'Vmax'), value='Tmax'), D…